<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>指导培训</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <!-- Image Column -->
            <div class="col-sm-6">
                <div class="portfolio-item">
                    <div class="portfolio-image">
                        <a href="#"><img src="__PUBLIC__/img/px4.png" alt="Project Name"></a>
                    </div>
                </div>
            </div>
            <!-- End Image Column -->
            <!-- Project Info Column -->
            <div class="portfolio-item-description col-sm-6">
                <h3><b>培训之路</b></h3>
                <p>
                    <b>应全国各位同行的热情邀约，武汉企业数据恢复责任有限公司派出，数据恢复骨干力量到全国各地，帮助做数据恢复的同行进行短期培训。</b>
                </p>
                <p>
                    <b>每个培训点，学员积极主动，谦虚好学，热情饱满。武汉企业数据恢复有限公司也在每次的培训之旅，获益良多。感谢各位同行的支持！</b>
                </p>
                <ul class="no-list-style">
                    <li><b>联系电话:</b> 15171463344</li>
                    <li><b>邮箱:</b> 1322652129@qq.com</li>
                    <!--<li class="portfolio-visit-btn"><a href="#" class="btn">Visit Website</a></li>-->
                </ul>
            </div>
            <!-- End Project Info Column -->
        </div>
        <!-- Related Projects -->
        <h3>现场实况</h3>
        <div class="row">
            <foreach name="pictures" item="picture" key="k">
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="portfolio-image">
                            <a href="###"><img src="__ROOT__{$picture['url']}" alt="Project Name" style="height: 200px;"></a>
                        </div>
                    </div>
                </div>
            </foreach>
        </div>
        <!-- End Related Projects -->
    </div>
</div>