<!-- Homepage Slider -->
<!--<div class="homepage-slider">-->
    <!--<div id="sequence">-->
        <!--<ul class="sequence-canvas">-->
            <!--&lt;!&ndash; Slide 1 &ndash;&gt;-->
            <!--<li class="bg4">-->
                <!--&lt;!&ndash; Slide Title &ndash;&gt;-->
                <!--<h2 class="title"><b>武汉企业</b></h2>-->
                <!--&lt;!&ndash; Slide Text &ndash;&gt;-->
                <!--<h3 class="subtitle"><b>真诚做您身边的数据恢复专家</b></h3>-->
                <!--&lt;!&ndash; Slide Image &ndash;&gt;-->
                <!--<img class="slide-img" src="__PUBLIC__/img/homepage-slider/slide1.png" alt="Slide 1" />-->
            <!--</li>-->
            <!--&lt;!&ndash; End Slide 1 &ndash;&gt;-->
            <!--&lt;!&ndash; Slide 2 &ndash;&gt;-->
            <!--<li class="bg3">-->
                <!--&lt;!&ndash; Slide Title &ndash;&gt;-->
                <!--<h2 class="title"><b>武汉企业</b></h2>-->
                <!--&lt;!&ndash; Slide Text &ndash;&gt;-->
                <!--<h3 class="subtitle"><b>大师级的数据恢复手段!</b></h3>-->
                <!--&lt;!&ndash; Slide Image &ndash;&gt;-->
                <!--<img class="slide-img" src="__PUBLIC__/img/homepage-slider/slide2.png" alt="Slide 2" />-->
            <!--</li>-->
            <!--&lt;!&ndash; End Slide 2 &ndash;&gt;-->
            <!--&lt;!&ndash; Slide 3 &ndash;&gt;-->
            <!--<li class="bg1">-->
                <!--&lt;!&ndash; Slide Title &ndash;&gt;-->
                <!--<h2 class="title"><b>武汉企业</b></h2>-->
                <!--&lt;!&ndash; Slide Text &ndash;&gt;-->
                <!--<h3 class="subtitle"><b>快速 准确 安全!</b></h3>-->
                <!--&lt;!&ndash; Slide Image &ndash;&gt;-->
                <!--<img class="slide-img" src="__PUBLIC__/img/homepage-slider/slide3.png" alt="Slide 3" />-->
            <!--</li>-->
            <!--&lt;!&ndash; End Slide 3 &ndash;&gt;-->
        <!--</ul>-->
        <!--<div class="sequence-pagination-wrapper">-->
            <!--<ul class="sequence-pagination">-->
                <!--<li>1</li>-->
                <!--<li>2</li>-->
                <!--<li>3</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <foreach name="slides" item="slide" key="key">
            <if condition="$key eq 0">
                <li data-target="#carousel-example-generic" data-slide-to="{$key}" class="active"></li>
            <else />
                <li data-target="#carousel-example-generic" data-slide-to="{$key}"></li>
            </if>
        </foreach>
        <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <foreach name="slides" item="slide" key="k">
            <if condition="$k eq 0">
                <div class="item active">
                    <img src="__ROOT__{$slide['url']}" alt="...">
                    <div class="carousel-caption">
                        <p>第一张</p>
                    </div>
                </div>
            <else />
                <div class="item">
                    <img src="__ROOT__{$slide['url']}" alt="...">
                    <div class="carousel-caption">
                        <p>第{$k + 1}张</p>
                    </div>
                </div>
            </if>

        </foreach>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- End Homepage Slider -->

<!-- Press Coverage -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="in-press press-wired">
                    <a href="{:U('Solve/index')}">数据库文件丢失，无法启动，无法还原，附加出错，数据出错，人为误操作（删除，重建，重装覆盖）...</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="in-press press-mashable">
                    <a href="{:U('Solve/index')}">磁盘阵列一块盘以上报警，阵列丢失，全部红灯，阵列信息损坏，硬盘无法识别，重建失败，...</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="in-press press-techcrunch">
                    <a href="{:U('Solve/index')}">服务器无法启动，人为误操作（删除，格式化，重建），文件丢失，分区丢失，分区无法访问，文件打开出错...</a>
                </div>
            </div>
            <!--<div class="col-md-3 col-sm-6">-->
                <!--<div class="in-press press-mashable">-->
                    <!--<a href="{:U('Solve/index')}">硬盘和闪存无法识别，无法就绪，无法访问，有异响，系统死机或很慢，无法拷贝数据...</a>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
<!-- Press Coverage -->

<!-- Services -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="service-wrapper">
                    <img src="__PUBLIC__/img/service-icon/diamond.png" alt="Service 1">
                    <h3>我们的专业</h3>
                    <p>专注SQL Server和Oracle数据库恢复支持MYSQL DB2 Sybase Interbase PostgreSQL</p>
                    <a href="{:U('Solve/index')}" class="btn"><b>详 情</b></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-wrapper">
                    <img src="__PUBLIC__/img/service-icon/ruler.png" alt="Service 2">
                    <h3>我们的服务</h3>
                    <p>无论您是智能阵列，无论您是传统阵列支持所有RAID级别：0 1 10 1E 3</p>
                    <a href="{:U('Plate/showPlateByMark',array('mark'=>'advantage'))}" class="btn"><b>详 情</b></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-wrapper">
                    <img src="__PUBLIC__/img/service-icon/box.png" alt="Service 3">
                    <h3>我们的承诺</h3>
                    <p>擅长AIX、HP-UX，包括全部服务器品牌支持IBM HP DELL Lenov</p>
                    <a href="{:U('Plate/showPlateByMark',array('mark'=>'about'))}" class="btn"><b>详 情</b></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Services -->

<!-- Call to Action Bar -->
<div class="section section-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="calltoaction-wrapper">
                    <h3>您的满意  是我们  不变的追求!</h3> <a href="http://www.dragdropsite.com" class="btn btn-orange">Download here!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Call to Action Bar -->

<!-- Testimonials -->
<div class="section">
    <div class="container">
        <h2>Testimonials</h2>
        <div class="row">
            <!-- Testimonial -->
            <div class="testimonial col-md-4 col-sm-6">
                <!-- Author Photo -->
                <div class="author-photo">
                    <img src="__PUBLIC__/img/user1.jpg" alt="Author 1">
                </div>
                <div class="testimonial-bubble">
                    <blockquote>
                        <!-- Quote -->
                        <p class="quote">
                            "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut."
                        </p>
                        <!-- Author Info -->
                        <cite class="author-info">
                            <!--- Name Surname,<br>Managing Director at <a href="#">Some Company</a>-->
                        </cite>
                    </blockquote>
                    <div class="sprite arrow-speech-bubble"></div>
                </div>
            </div>
            <!-- End Testimonial -->
            <div class="testimonial col-md-4 col-sm-6">
                <div class="author-photo">
                    <img src="__PUBLIC__/img/user5.jpg" alt="Author 2">
                </div>
                <div class="testimonial-bubble">
                    <blockquote>
                        <p class="quote">
                            "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo."
                        </p>
                        <cite class="author-info">
                            <!--- Name Surname,<br>Managing Director at <a href="#">Some Company</a>-->
                        </cite>
                    </blockquote>
                    <div class="sprite arrow-speech-bubble"></div>
                </div>
            </div>
            <div class="testimonial col-md-4 col-sm-6">
                <div class="author-photo">
                    <img src="__PUBLIC__/img/user2.jpg" alt="Author 3">
                </div>
                <div class="testimonial-bubble">
                    <blockquote>
                        <p class="quote">
                            "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
                        </p>
                        <cite class="author-info">
                            <!--- Name Surname,<br>Managing Director at <a href="#">Some Company</a>-->
                        </cite>
                    </blockquote>
                    <div class="sprite arrow-speech-bubble"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials -->

<!-- Pricing Table -->
<div class="section">
    <div class="container">
        <h2>成功案例</h2>
        <div class="row">
            <!-- Pricing Plans Wrapper -->
            <div class="pricing-wrapper col-md-12">
                <!-- Pricing Plan -->
                <div class="pricing-plan">
                    <!-- Pricing Plan Ribbon -->
                    <div class="ribbon-wrapper">
                        <div class="price-ribbon ribbon-red">100%</div>
                    </div>
                    <h2 class="pricing-plan-title">数据库因断电表丢失数据</h2>
                    <p class="pricing-plan-price">成功</p>
                    <!-- Pricing Plan Features -->
                    <ul class="pricing-plan-features">
                        <li><strong>Oracle 11 数据库</strong></li>
                        <li><strong>IBM AIX 6的平台</strong></li>
                        <li><strong>尝试用 exp和 expdp均无法导出</strong></li>
                    </ul>
                    <a href="{:U('Case/index')}" class="btn"><b>查看</b></a>
                </div>
                <!-- End Pricing Plan -->
                <div class="pricing-plan">
                    <h2 class="pricing-plan-title">磁盘阵列两块盘离线数据</h2>
                    <p class="pricing-plan-price">成功</p>
                    <ul class="pricing-plan-features">
                        <li><strong>RAID50磁盘阵列</strong></li>
                        <li><strong>存放医院多年图像文件 15块SCSI硬盘</strong></li>
                        <li><strong>两块盘报警离线，阵列丢失</strong></li>
                    </ul>
                    <a href="{:U('Case/index')}" class="btn"><b>查看</b></a>
                </div>
                <!-- Promoted Pricing Plan -->
                <div class="pricing-plan pricing-plan-promote">
                    <h2 class="pricing-plan-title">Linux 服务器 Ext4 文件系统</h2>
                    <p class="pricing-plan-price">成功</p>
                    <ul class="pricing-plan-features">
                        <li><strong>Linux服务器Ext4文件系统</strong></li>
                        <li><strong>Ext4文件系统突然无法挂载</strong></li>
                        <li><strong>fsck操作进行修复，结果故障依旧</strong></li>
                    </ul>
                    <a href="{:U('Case/index')}" class="btn"><b>查看</b></a>
                </div>
                <div class="pricing-plan">
                    <!-- Pricing Plan Ribbon -->
                    <div class="ribbon-wrapper">
                        <div class="price-ribbon ribbon-green">Success</div>
                    </div>
                    <h2 class="pricing-plan-title">餐饮管家婆财务文件</h2>
                    <p class="pricing-plan-price">成功</p>
                    <ul class="pricing-plan-features">
                        <li><strong>文件被系统覆盖</strong></li>
                        <li><strong>客户重装系统后 发现数据丢失</strong></li>
                        <li><strong>文件存放在C盘已经被系统覆盖</strong></li>
                    </ul>
                    <a href="{:U('Case/index')}" class="btn"><b>查看</b></a>
                </div>
            </div>
            <!-- End Pricing Plans Wrapper -->
        </div>
    </div>
</div>
<!-- End Pricing Table -->

<!-- Pricing Table -->
<div class="section">
    <div class="container">
        <h2>指导培训</h2>
        <div class="row">
            <!-- Pricing Plans Wrapper -->
            <div class="pricing-wrapper col-md-12">
                <!-- Pricing Plan -->
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="portfolio-item">
                            <div class="portfolio-image">
                                <a href="#"><img src="__PUBLIC__/img/px1.png" alt="北京培训" style="height: 200px;"></a>
                            </div>
                            <div class="portfolio-info-fade">
                                <ul>
                                    <li class="portfolio-project-name">北京培训</li>
                                    <li><b>武汉企业数据恢复</b></li>
                                    <li><b>快速 | 准确 | 安全</b></li>
                                    <li class="read-more"><a href="{:U('Train/index')}" class="btn">Show More</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="portfolio-item">
                            <div class="portfolio-image">
                                <a href="#"><img src="__PUBLIC__/img/px2.png" alt="南京培训" style="height: 200px;"></a>
                            </div>
                            <div class="portfolio-info-fade">
                                <ul>
                                    <li class="portfolio-project-name">南京培训</li>
                                    <li><b>武汉企业数据恢复</b></li>
                                    <li><b>快速 | 准确 | 安全</b></li>
                                    <li class="read-more"><a href="{:U('Train/index')}" class="btn">Show More</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="portfolio-item">
                            <div class="portfolio-image">
                                <a href="#"><img src="__PUBLIC__/img/px3.png" alt="成都培训" style="height: 200px;"></a>
                            </div>
                            <div class="portfolio-info-fade">
                                <ul>
                                    <li class="portfolio-project-name">成都培训</li>
                                    <li><b>武汉企业数据恢复</b></li>
                                    <li><b>快速 | 准确 | 安全</b></li>
                                    <li class="read-more"><a href="{:U('Train/index')}" class="btn">Show More</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Pricing Plans Wrapper -->
        </div>
    </div>
</div>
<!-- End Pricing Table -->

<!-- Our Clients -->
<div class="section">
    <div class="container">
        <h2>我们的客户</h2>
        <div class="clients-logo-wrapper text-center row">
            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><a href="{:U('Plate/showPlateByMark',array('mark'=>'case'))}"><img src="__PUBLIC__/img/server-list.jpg" alt="Client Name"></a></div>-->
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="javascript:void(0)"><img src="__PUBLIC__/img/logos/canon.png" alt="Client Name"></a></div>
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="javascript:void(0)"><img src="__PUBLIC__/img/logos/cisco.png" alt="Client Name"></a></div>
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="javascript:void(0)"><img src="__PUBLIC__/img/logos/dell.png" alt="Client Name"></a></div>
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="javascript:void(0)"><img src="__PUBLIC__/img/logos/ea.png" alt="Client Name"></a></div>
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="javascript:void(0)"><img src="__PUBLIC__/img/logos/ebay.png" alt="Client Name"></a></div>
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="javascript:void(0)"><img src="__PUBLIC__/img/logos/facebook.png" alt="Client Name"></a></div>
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="javascript:void(0)"><img src="__PUBLIC__/img/logos/google.png" alt="Client Name"></a></div>
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="javascript:void(0)"><img src="__PUBLIC__/img/logos/hp.png" alt="Client Name"></a></div>
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="javascript:void(0)"><img src="__PUBLIC__/img/logos/microsoft.png" alt="Client Name"></a></div>
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="javascript:void(0)"><img src="__PUBLIC__/img/logos/mysql.png" alt="Client Name"></a></div>
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="javascript:void(0)"><img src="__PUBLIC__/img/logos/sony.png" alt="Client Name"></a></div>
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="javascript:void(0)"><img src="__PUBLIC__/img/logos/yahoo.png" alt="Client Name"></a></div>
        </div>
    </div>
</div>
<!-- End Our Clients -->