<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>解决方案</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row service-wrapper-row">
            <div class="col-sm-4">
                <div class="service-image">
                    <img src="__PUBLIC__/img/homepage-slider/slide2.png" alt="Color Schemes">
                </div>
            </div>
            <div class="col-sm-7">
                <h3><a href="{:U('Solve/showById',array('id'=>1))}">企业级数据库解决方案</a></h3>
                <p>
                    数据库文件丢失，无法启动，无法访问，无法查询，无法还原，附加出错，数据出错，人为误操作（删除，重建，重装覆盖）,数据库出现丢失或异常
                </p>
                <p>
                    （1）检测存储设备，是否存在硬件故障，若有先处理硬件问题；
                </p>
                <p>
                    （2）文件丢失的情况，分析文件系统对丢失的数据库文件进行定位；...
                </p>
            </div>
        </div>
        <div class="row service-wrapper-row">
            <div class="col-sm-4">
                <div class="service-image">
                    <img src="__PUBLIC__/img/article3.jpg" alt="磁盘阵列数据解决方案">
                </div>
            </div>
            <div class="col-sm-7">
                <h3><a href="{:U('Solve/showById',array('id'=>2))}">磁盘阵列数据解决方案</a></h3>
                <p>
                    磁盘阵列一块盘以上报警，阵列丢失，全部红灯，阵列信息损坏，硬盘无法识别，重建失败，扩容失败，人为误操作（删除，同步，重建，初始化，更改级别）
                </p>
                <p>
                    （1）将故障硬盘接入安全的数据恢复平台中，对硬盘做完整的全盘镜像，以防二次破坏；
                </p>
                <p>
                    （2）通过分析每块硬盘的文件系统和数据文件特征，确认磁盘阵列的类型和参数；...
                </p>
            </div>
        </div>
        <div class="row service-wrapper-row">
            <div class="col-sm-4">
                <div class="service-image">
                    <img src="__PUBLIC__/img/homepage-slider/slide1.png" alt="Responsive">
                </div>
            </div>
            <div class="col-sm-7">
                <h3><a href="{:U('Solve/showById',array('id'=>3))}">服务器小型机数据解决方案</a></h3>
                <p>
                    服务器无法启动，人为误操作（删除，格式化，重建），文件丢失，分区丢失，分区无法访问，文件打开出错
                </p>
                <p>
                    （1）数据库文件挂载或附加后检测完整性和一致性；
                </p>
                <p>
                    （2）将重要数据文件导入到客户应用环境中进行验证；...
                </p>
            </div>
        </div>
        <div class="row service-wrapper-row">
            <div class="col-sm-4">
                <div class="service-image">
                    <img src="__PUBLIC__/img/services2.jpg" alt="Flags">
                </div>
            </div>
            <div class="col-sm-7">
                <h3><a href="{:U('Solve/showById',array('id'=>4))}">硬盘闪存数据解决方案</a></h3>
                <p>
                    硬盘和闪存无法识别，无法就绪，无法访问，有异响，系统死机或很慢，无法拷贝数据，通电无任何反应，型号识别但无法操作，人为误操作（删除，格式化，重装系统覆盖），加密失效无法访问
                </p>
                <p>
                    （1）如果判断故障是硬盘坏道，对故障盘做完整的全盘镜像；
                </p>
                <p>
                    （2）相机视频，财务文件，邮件系统，监控录相数据丢失或损坏，需要手工进行定位修复；...
                </p>
            </div>
        </div>
    </div>
</div>