<!--<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">-->
    <!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->
    <!--<div class="carousel-inner" role="listbox">-->
        <!--<div class="item active">-->
            <!--<img src="{$data['solve_photo']}" alt="..." style="width: 100%;height: 450px;">-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{$data['title']}</h1>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 50px;">
    <div class="col-md-8 col-md-offset-2">
        <plate id="{$data['id']}" class="post tag-laravel tag-laravel-5-1 tag-xin-ban-ben-fa-bu">
            <div class="post-content">
                <p>{$data['content']}</p>
            </div>
            <div class="post-permalink">

            </div>
        </plate>
    </div>

</div>


