<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>成功案例</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 faq-wrapper">
                <div class="panel-group" id="accordion2">

                    <foreach name="cases" item="v1" key="k1">
                        <h3><?php echo $case_types[$k1]?></h3>
                        <foreach name="v1" item="v2" key="k2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{$k1}{$k2}">
                                        {$v2['title']}
                                    </a>
                                </div>
                                <div id="collapse{$k1}{$k2}" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <div class="answer">客户存储信息:</div>
                                        <p>{$v2['storage_info']}</p>
                                        <div class="answer">客户故障描述:</div>
                                        <p>{$v2['fault_desc']}</p>
                                        <div class="answer">数据恢复过程:</div>
                                        <p>{$v2['recovery_process']}</p>
                                        <div class="answer">数据恢复结果:</div>
                                        <p>{$v2['recovery_result']}</p>
                                        <div class="answer">温馨提示:</div>
                                        <p>{$v2['tips']}</p>
                                        <p>{$v2['remark']}</p>
                                    </div>
                                </div>
                            </div>
                        </foreach>

                    </foreach>
                </div>
            </div>
        </div>
    </div>
</div>