<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-footer col-md-3 col-xs-6">
                <h3>Mark</h3>
                <div class="portfolio-item">
                    <div class="portfolio-image">
                        <a href="javascript:void (0)"><img src="__PUBLIC__/img/hx3.jpg" alt="Project Name"></a>
                    </div>
                </div>
            </div>
            <div class="col-footer col-md-3 col-xs-6">
                <h3>友情链接</h3>
                <ul class="no-list-style footer-navigate-section">
                    <foreach name="links" item="link">
                        <li><a href="{$link['url']}" target="_blank" style="color: #A0A0A0">{$link['name']}</a></li>
                    </foreach>
                </ul>
            </div>

            <div class="col-footer col-md-4 col-xs-6">
                <h3>关于</h3>
                <p class="contact-us-details" style="font-size: 14px;">
                    <b>公司地址:</b> 武汉市武昌区丁字桥南路佰港城A座803<br/>
                    <b>联系方式:</b> 15171463344<br/>
                    <b>座机:</b> 027-87614210<br/>
                    <b>Email:</b> <a href="###" data-toggle="modal" data-target=".bs-example-modal-lg">1322652129@qq.com</a>

                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeMail"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">发送邮件</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" id="sendMail">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">邮箱</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" name="customer_email" id="inputEmail3" placeholder="您的邮箱" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="customer_phone" class="col-sm-2 control-label">手机 <b style="color: red">*</b></label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control" name="customer_phone" id="customer_phone" placeholder="您的手机号码" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="customer_content" class="col-sm-2 control-label">需求 <b style="color: red">*</b></label>
                                        <div class="col-sm-10">
                                            <textarea id="customer_content" name="customer_content" class="form-control" placeholder="请告诉我们您的问题和需求" required></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="button" class="btn btn-default" onclick="customerForm(this)">发送</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <script>
                                function customerForm(e)
                                {
                                    var go = true;
                                    var phone = $("#customer_phone").val();
                                    var reg = /^0?1[3|4|5|7|8][0-9]\d{8}$/;
                                    if (!reg.test(phone)) {
                                        go = false;
                                        alert('号码有误，请重填');
                                        $("#customer_phone").focus();
                                        return false;
                                    }

                                    if($("#customer_content").val() == '')
                                    {
                                        $("#customer_content").focus();
                                        alert('客户需求为必填选项');
                                        go = false;
                                        return false;
                                    }

                                    if(go == false)
                                    {
                                        return false;
                                    }
                                    $.ajax({
                                        url: "{:U('Customer/create')}",
                                        type: "post",
                                        data: $("#sendMail").serializeArray(),
                                        dataType: "json",
                                        success: function( result ){
                                            $("#closeMail").click();
                                            if ( result.ret == 0 ) {
                                                alert('发送成功,后台会与您做及时沟通');

                                            } else {
                                                alert('发送失败，请重试');
                                            }
                                        },
                                        error:function()
                                        {
                                            alert('页面出错，请刷新页面后重试');
                                        }
                                    });
                                }
                            </script>
                        </div>
                    </div>
                </div>
                </p>
            </div>
            <div class="col-footer col-md-2 col-xs-6">
                <h3>合作</h3>
                <ul class="no-list-style footer-navigate-section">
                    <li><a href="http://www.hkbs-whwj.com" target="_blank" style="color: #A0A0A0">分公司</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="footer-copyright">&copy; 2015 武汉企业数据恢复责任有限公司. 京ICP备11008151号. 京公网安备11010802014853</div>
            </div>
        </div>
    </div>
</div>