<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>武汉企业</title>
    <link href="" rel="Shortcut Icon">
    <meta name="description" content="武汉企业责任有限公司" />
    <meta name="keywords" content="武汉企业">
    <meta name="viewport" content="width=device-width">

</head>
<body>
<!--引入头部目录-->
<include file='layouts/header' />


{__CONTENT__}

<!--引入尾部目录-->
<include file='layouts/footer' />


<!-- Javascripts -->


</body>
</html>