<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
   <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="{$article['article_photo']}" alt="..." style="width: 100%;height: 600px;">
        </div>
    </div>
</div>

<div class="row" style="margin-top: 50px;">
    <div class="col-md-8 col-md-offset-2">
        <article id="{$article['id']}" class="post tag-laravel tag-laravel-5-1 tag-xin-ban-ben-fa-bu">
             <div class="post-content">
                <p>{$article['content']}</p>
            </div>
            <div class="post-permalink">

            </div>
        </article>
    </div>

</div>